*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

#codeigniter 3
application/logs/*
!application/logs/index.html
!application/logs/.htaccess
!quickqueues/uploads/.gitkeep
/vendor/

.install_dest
#quickqueues/application/config/database.php
#quickqueues/application/config/config.php
#quickqueues/application/config/routes.php
quickqueues/application/VERSION
quickqueues/application/PRODUCTINFO
quickqueues/uploads/*

quickqueues/qq_sessions/
quickqueues/persist.json
